# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# PyCharm / JetBrains
.idea/
*.iml

# Python
__pycache__/
*.pyc

# fastMRI 数据（不要上传）
data/
*.h5

# 模型 checkpoint
model/
model_zoo/
*.pth
